In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('dadosPrevisao.csv',parse_dates=True,sep=';')

In [6]:
df.head()

,Data,Hora (UTC),Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
0,25/01/2025,0,"23,3","24,3","23,3","68,0","68,0","63,0","17,0","17,0","16,6","887,0","887,0","885,8","1,6","112,0","4,4",NaN,"0,0"
1,25/01/2025,100,"23,1","23,3","23,0","69,0","70,0","68,0","17,1","17,4","17,0","887,8","887,8","887,0","2,2","104,0","3,9",NaN,"0,0"
2,25/01/2025,200,"21,8","23,3","21,8","74,0","74,0","68,0","17,1","17,2","16,8","887,8","887,9","887,7","1,3","120,0","4,3",NaN,"0,0"
3,25/01/2025,300,"22,2","22,2","21,1","70,0","77,0","70,0","16,5","17,2","16,5","888,0","888,0","887,7","1,6","113,0","3,4",NaN,"0,0"
4,25/01/2025,400,"19,4","22,3","19,4","82,0","82,0","68,0","16,2","16,5","15,8","887,8","888,0","887,7","1,1","134,0","3,7",NaN,"0,0"

In [9]:
df.isnull().sum()

Data                    0
Hora (UTC)              0
Temp. Ins. (C)          0
Temp. Max. (C)          0
Temp. Min. (C)          0
Umi. Ins. (%)           0
Umi. Max. (%)           0
Umi. Min. (%)           0
Pto Orvalho Ins. (C)    0
Pto Orvalho Max. (C)    0
Pto Orvalho Min. (C)    0
Pressao Ins. (hPa)      0
Pressao Max. (hPa)      0
Pressao Min. (hPa)      0
Vel. Vento (m/s)        0
Dir. Vento (m/s)        0
Raj. Vento (m/s)        0
Radiacao (KJ/m²)        0
Chuva (mm)              0
dtype: int64

In [8]:
df=df.dropna(axis=0)

In [10]:
df = df.set_index(df['Data'])

In [11]:
df.index

Index(['25/01/2025', '25/01/2025', '25/01/2025', '25/01/2025', '25/01/2025',
       '25/01/2025', '25/01/2025', '25/01/2025', '25/01/2025', '25/01/2025',
       ...
       '25/02/2025', '25/02/2025', '25/02/2025', '25/02/2025', '25/02/2025',
       '25/02/2025', '25/02/2025', '25/02/2025', '25/02/2025', '25/02/2025'],
      dtype='object', name='Data', length=415)

In [14]:
df.index = pd.to_datetime(df.index,format='%Y/%m/%d')

In [15]:
df.columns

Index(['Data', 'Hora (UTC)', 'Temp. Ins. (C)', 'Temp. Max. (C)',
       'Temp. Min. (C)', 'Umi. Ins. (%)', 'Umi. Max. (%)', 'Umi. Min. (%)',
       'Pto Orvalho Ins. (C)', 'Pto Orvalho Max. (C)', 'Pto Orvalho Min. (C)',
       'Pressao Ins. (hPa)', 'Pressao Max. (hPa)', 'Pressao Min. (hPa)',
       'Vel. Vento (m/s)', 'Dir. Vento (m/s)', 'Raj. Vento (m/s)',
       'Radiacao (KJ/m²)', 'Chuva (mm)'],
      dtype='object')

In [16]:
df.index

DatetimeIndex(['2025-01-25', '2025-01-25', '2025-01-25', '2025-01-25',
               '2025-01-25', '2025-01-25', '2025-01-25', '2025-01-25',
               '2025-01-25', '2025-01-25',
               ...
               '2025-02-25', '2025-02-25', '2025-02-25', '2025-02-25',
               '2025-02-25', '2025-02-25', '2025-02-25', '2025-02-25',
               '2025-02-25', '2025-02-25'],
              dtype='datetime64[ns]', name='Data', length=415, freq=None)

In [18]:
df = df.drop(['Data', 'Hora (UTC)', 'Temp. Max. (C)',
       'Temp. Min. (C)', 'Umi. Ins. (%)', 'Umi. Max. (%)', 'Umi. Min. (%)',
       'Pto Orvalho Ins. (C)', 'Pto Orvalho Max. (C)', 'Pto Orvalho Min. (C)',
       'Pressao Ins. (hPa)', 'Pressao Max. (hPa)', 'Pressao Min. (hPa)',
       'Vel. Vento (m/s)', 'Dir. Vento (m/s)', 'Raj. Vento (m/s)',
       'Radiacao (KJ/m²)', 'Chuva (mm)'],axis=1)

In [19]:
df

           Temp. Ins. (C)
Data
2025-01-25           21,4
2025-01-25           23,7
2025-01-25           25,8
2025-01-25           26,4
2025-01-25           26,7
...                   ...
2025-02-25           28,1
2025-02-25           21,5
2025-02-25           21,2
2025-02-25           22,7
2025-02-25           21,3

[415 rows x 1 columns]

In [20]:
df['Ano'] = df.index.year

In [21]:
df

           Temp. Ins. (C)   Ano
Data
2025-01-25           21,4  2025
2025-01-25           23,7  2025
2025-01-25           25,8  2025
2025-01-25           26,4  2025
2025-01-25           26,7  2025
...                   ...   ...
2025-02-25           28,1  2025
2025-02-25           21,5  2025
2025-02-25           21,2  2025
2025-02-25           22,7  2025
2025-02-25           21,3  2025

[415 rows x 2 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 415 entries, 2025-01-25 to 2025-02-25
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temp. Ins. (C)  415 non-null    object
 1   Ano             415 non-null    int32
dtypes: int32(1), object(1)
memory usage: 8.1+ KB

In [24]:
df['Temp. Ins. (C)'] = df['Temp. Ins. (C)'].str.replace(',', '.', regex=False)

# Converter para float
df['Temp. Ins. (C)'] = df['Temp. Ins. (C)'].astype(float)

In [26]:
df= df.resample('W').mean()

In [27]:
df.shape

(6, 2)

In [28]:
df.head()

            Temp. Ins. (C)     Ano
Data
2025-01-26       26.448000  2025.0
2025-02-02       23.090217  2025.0
2025-02-09       24.740659  2025.0
2025-02-16       24.208889  2025.0
2025-02-23       26.637363  2025.0

In [29]:
df.columns = ['exog1','exog2']

In [30]:
df.head()

                exog1   exog2
Data
2025-01-26  26.448000  2025.0
2025-02-02  23.090217  2025.0
2025-02-09  24.740659  2025.0
2025-02-16  24.208889  2025.0
2025-02-23  26.637363  2025.0

In [31]:
df.index

DatetimeIndex(['2025-01-26', '2025-02-02', '2025-02-09', '2025-02-16',
               '2025-02-23', '2025-03-02'],
              dtype='datetime64[ns]', name='Data', freq='W-SUN')

In [32]:
df.to_csv('exogenas.csv',index=True)