In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('df_eng.csv', sep=',')

In [7]:
df.head()

,data_hora,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm),Mes,Ano
0,2023-01-29,22.969444,23.934722,21.926389,71.111111,76.722222,66.416667,17.176389,18.104167,16.406944,885.483333,885.819444,885.222222,2.709722,195.986111,6.022222,1580.177778,0.288889,1,2023
1,2023-02-05,24.509524,25.198810,23.277381,62.500000,68.726190,59.011905,16.428571,17.429762,15.520238,887.184524,887.535714,886.983333,2.294048,133.404762,5.526190,1767.392857,0.147619,2,2023
2,2023-02-12,25.157143,25.711905,24.029762,58.785714,64.428571,56.071429,16.003571,16.991667,15.226190,886.490476,886.877381,886.265476,2.236905,114.964286,5.552381,1762.996429,0.009524,2,2023
3,2023-02-19,25.451190,26.028571,24.259524,58.630952,64.285714,55.392857,16.033333,16.938095,15.071429,885.277381,885.655952,885.064286,2.513095,147.797619,5.946429,1892.951190,0.114286,2,2023
4,2023-02-26,24.008333,24.713095,23.009524,66.119048,71.095238,62.321429,16.939286,17.777381,16.035714,887.779762,888.135714,887.547619,2.292857,128.726190,5.638095,1735.534524,0.033333,2,2023

In [8]:
df.tail()

,data_hora,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm),Mes,Ano
100,2024-12-29,23.147619,23.930952,22.148810,74.892857,80.250000,70.416667,18.175000,18.915476,17.403571,885.614286,885.963095,885.413095,2.428571,249.666667,5.696429,1354.070238,0.457143,12,2024
101,2025-01-05,24.022619,24.807143,23.038095,70.154762,75.547619,66.119048,17.866667,18.708333,17.166667,885.796429,886.155952,885.573810,2.363095,240.285714,5.796429,1450.613095,0.021429,1,2025
102,2025-01-12,23.044048,23.679762,22.152381,77.738095,82.369048,74.619048,18.675000,19.385714,18.064286,884.198810,884.578571,884.000000,2.839286,298.928571,6.635714,1394.551190,0.378571,1,2025
103,2025-01-19,22.309524,23.066667,21.395238,80.559524,85.464286,77.023810,18.472619,19.261905,17.889286,884.904762,885.235714,884.688095,2.967857,224.369048,7.005952,1472.630952,0.526190,1,2025
104,2025-01-26,25.075833,25.806667,23.856667,65.066667,71.275000,60.933333,17.584167,18.625833,16.625833,887.629167,888.005000,887.383333,2.290000,177.633333,5.498333,2000.155000,0.523333,1,2025

In [9]:
# Remover as últimas 4 linhas do DataFrame
new_data = df.iloc[:-4]

# Verificar as primeiras linhas para garantir que as linhas foram removidas
print(new_data.tail())

      data_hora  Temp. Ins. (C)  Temp. Max. (C)  Temp. Min. (C)  \
96   2024-12-01       24.511905       25.221429       23.491667
97   2024-12-08       25.701786       26.452976       24.534524
98   2024-12-15       24.872619       25.696429       23.834524
99   2024-12-22       23.782143       24.738095       22.772619
100  2024-12-29       23.147619       23.930952       22.148810

     Umi. Ins. (%)  Umi. Max. (%)  Umi. Min. (%)  Pto Orvalho Ins. (C)  \
96       68.226190      73.702381      64.333333             17.965476
97       57.785714      64.041667      54.047619             15.884524
98       65.976190      71.821429      61.428571             17.617857
99       71.535714      77.202381      67.119048             17.952381
100      74.892857      80.250000      70.416667             18.175000

     Pto Orvalho Max. (C)  Pto Orvalho Min. (C)  Pressao Ins. (hPa)  \
96              18.735714             17.202381          886.413095
97              17.027381             14.952976          885.772024
98              18.572619             16.722619          885.054762
99              18.895238             17.251190          887.046429
100             18.915476             17.403571          885.614286

     Pressao Max. (hPa)  Pressao Min. (hPa)  Vel. Vento (m/s)  \
96           886.773810          886.189286          2.419048
97           886.141071          885.586310          2.172024
98           885.428571          884.808333          2.213095
99           887.376190          886.804762          2.021429
100          885.963095          885.413095          2.428571

     Dir. Vento (m/s)  Raj. Vento (m/s)  Radiacao (KJ/m²)  Chuva (mm)  Mes  \
96         143.357143          5.547619       1531.675000    0.050000   12
97         154.029762          5.311310       1733.853571    0.323810   12
98         181.523810          5.576190       1602.988095    0.295238   12
99         216.547619          5.120238       1494.103571    0.326190   12
100        249.666667          5.696429       1354.070238    0.457143   12

      Ano
96   2024
97   2024
98   2024
99   2024
100  2024

In [10]:
new_data.tail()

,data_hora,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm),Mes,Ano
96,2024-12-01,24.511905,25.221429,23.491667,68.226190,73.702381,64.333333,17.965476,18.735714,17.202381,886.413095,886.773810,886.189286,2.419048,143.357143,5.547619,1531.675000,0.050000,12,2024
97,2024-12-08,25.701786,26.452976,24.534524,57.785714,64.041667,54.047619,15.884524,17.027381,14.952976,885.772024,886.141071,885.586310,2.172024,154.029762,5.311310,1733.853571,0.323810,12,2024
98,2024-12-15,24.872619,25.696429,23.834524,65.976190,71.821429,61.428571,17.617857,18.572619,16.722619,885.054762,885.428571,884.808333,2.213095,181.523810,5.576190,1602.988095,0.295238,12,2024
99,2024-12-22,23.782143,24.738095,22.772619,71.535714,77.202381,67.119048,17.952381,18.895238,17.251190,887.046429,887.376190,886.804762,2.021429,216.547619,5.120238,1494.103571,0.326190,12,2024
100,2024-12-29,23.147619,23.930952,22.148810,74.892857,80.250000,70.416667,18.175000,18.915476,17.403571,885.614286,885.963095,885.413095,2.428571,249.666667,5.696429,1354.070238,0.457143,12,2024

In [11]:
new_data.shape

(101, 20)

In [12]:
new_data.to_csv('df_eng_2.csv',index=True)

In [13]:
df2 = pd.read_csv('df_eng.csv', sep=',')

In [15]:
df2.tail()

,data_hora,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm),Mes,Ano
100,2024-12-29,23.147619,23.930952,22.148810,74.892857,80.250000,70.416667,18.175000,18.915476,17.403571,885.614286,885.963095,885.413095,2.428571,249.666667,5.696429,1354.070238,0.457143,12,2024
101,2025-01-05,24.022619,24.807143,23.038095,70.154762,75.547619,66.119048,17.866667,18.708333,17.166667,885.796429,886.155952,885.573810,2.363095,240.285714,5.796429,1450.613095,0.021429,1,2025
102,2025-01-12,23.044048,23.679762,22.152381,77.738095,82.369048,74.619048,18.675000,19.385714,18.064286,884.198810,884.578571,884.000000,2.839286,298.928571,6.635714,1394.551190,0.378571,1,2025
103,2025-01-19,22.309524,23.066667,21.395238,80.559524,85.464286,77.023810,18.472619,19.261905,17.889286,884.904762,885.235714,884.688095,2.967857,224.369048,7.005952,1472.630952,0.526190,1,2025
104,2025-01-26,25.075833,25.806667,23.856667,65.066667,71.275000,60.933333,17.584167,18.625833,16.625833,887.629167,888.005000,887.383333,2.290000,177.633333,5.498333,2000.155000,0.523333,1,2025

In [16]:
ultimo_dataset = df2.tail(4)

In [17]:
ultimo_dataset.head()

,data_hora,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm),Mes,Ano
101,2025-01-05,24.022619,24.807143,23.038095,70.154762,75.547619,66.119048,17.866667,18.708333,17.166667,885.796429,886.155952,885.573810,2.363095,240.285714,5.796429,1450.613095,0.021429,1,2025
102,2025-01-12,23.044048,23.679762,22.152381,77.738095,82.369048,74.619048,18.675000,19.385714,18.064286,884.198810,884.578571,884.000000,2.839286,298.928571,6.635714,1394.551190,0.378571,1,2025
103,2025-01-19,22.309524,23.066667,21.395238,80.559524,85.464286,77.023810,18.472619,19.261905,17.889286,884.904762,885.235714,884.688095,2.967857,224.369048,7.005952,1472.630952,0.526190,1,2025
104,2025-01-26,25.075833,25.806667,23.856667,65.066667,71.275000,60.933333,17.584167,18.625833,16.625833,887.629167,888.005000,887.383333,2.290000,177.633333,5.498333,2000.155000,0.523333,1,2025

In [18]:
ultimo_dataset.to_csv('fazerPrevisoes.csv',index=True)